
<div class="post"><% @venues.each do |venue| %>
        <p class="date"><%= venue.month %><b><%= venue.day %></b></p>
        <h2 class="title"><%= venue.title %></h2>
        <div class="entry">
          <p><%= venue.description %></p>
          <p><%= venue.location %></p>
          <p><%= venue.image %></p>
         </div>
        <p class="meta"><small><%= link_to 'Details', venue %></small>
       </p>
    <% end %>

      </div>

<br>

