<h1>Administration Console for Events / Venues </h1>
<% @venues.each do |venue| %>
<div class="post">
        <p class="date"><%= venue.month %><b><%= venue.day %></b></p>
        <h2 class="title"><%= venue.title %></h2>
        <div class="entry">
          <p><%= venue.description %></p>
          <p><%= venue.location %></p>
          <p><%= venue.image %></p>
          
        </div>
        <p class="meta"><small>
        <%= link_to 'Show', venue %>
        <%= link_to 'Edit', edit_venue_path(venue) %>
        <%= link_to 'Destroy', venue, method: :delete, data: { confirm: 'Are you sure?' } %>
        <%= link_to 'New Venue', new_venue_path %>

        </p>
      </div>

    <% end %>
<br>

