<!DOCTYPE html>
<html>
<head>
  <title>Aaa</title>
  <%= stylesheet_link_tag    "default", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "default", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header">
  <div id="logo">
    <h1><a href="#">Sam Sam</a></h1>
    <p><a href="#">Group Dating</a></p>
  </div>
  <div id="menu">
    <ul>
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">About</a>


      </li>
      <li><%= link_to 'Contact', contact_index_path %></li>
      
      <% if current_user %>
      <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>  
      <% else %>
      <li><%= link_to "Log In", new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</div>
<hr />
<!-- end header -->
<!-- start page -->
<div id="wrapper">
  <div id="page">
    <!-- start content -->
    <div id="content">
      <%= yield %>
    </div>
    <!-- end content -->
    <!-- start sidebar -->
    <div id="sidebar">
      <ul>
        <li id="categories">
          <h2>Categories</h2>
          <ul>
            <li><%= link_to 'Partner Venues', partner_index_path %></a> (1) </li>
            <li><a href="#">Uncategorized Here </a>(4) </li>
            <li><a href="#">Nulla luctus eleifend dictum </a> (1) </li>
            <li><a href="#">Pellentesque tempus</a> (4) </li>
            <li><a href="#">Donec dictum metus</a> (1) </li>
            <li><a href="#">Etiam posuere augue</a> (4) </li>
          </ul>
        </li>
        <li>
          <h2>Lorem Ipsum Dolor</h2>
          <ul>
            <li><a href="#">Nulla luctus eleifend purus</a></li>
            <li><a href="#">Praesent scelerisque scelerisque erat</a></li>
            <li><a href="#">Ut nonummy rutrum sem</a></li>
            <li><a href="#">Pellentesque tempus quam quis nulla</a></li>
            <li><a href="#">Fusce ultrices fringilla metus</a></li>
            <li><a href="#">Praesent mattis condimentum nisl</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- end sidebar -->
    <br style="clear: both;" />
  </div>
</div>
<!-- end page -->
<!-- start footer -->
<div id="footer">
<p id="legal"> &copy;2014 Sam Sam. All Rights Reserved.
  &nbsp;&nbsp;&bull;&nbsp;&nbsp;
  <a href="http://www.generalassemb.ly/">BEWD Class Project</a> &nbsp;&nbsp;&bull;&nbsp;&nbsp;
   </p>
<!-- end footer -->
</div>
</body>
</html>
