<!DOCTYPE html>
<html>
<head>
  <title>Aaa</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header">
  <div id="logo">
    <h1><%= link_to 'Happy Heart Deals', root_path %></h1>
  </div>
  <div id="menu">
    <ul>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Search Deals!', search_index_path %></li>
      <li><%= link_to 'Contact', contact_index_path %></li>
      
      <% if current_user %>
      <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>  
      <% else %>
      <li><%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %></li>
  
      <% end %>
      <% if current_user %>
        <%= current_user.email %><% @users = @email.users.all if @current_user_email %>
        <% else %>
        <% end %> 
    </ul>
  </div>
</div>
<hr />
<!-- end header -->
<!-- start page -->
<div id="wrapper">
  <div id="page">
    <!-- start content -->
    <div id="content">
      <%= yield %>
    </div>
    <!-- end content -->
    <!-- start sidebar -->
    <div id="sidebar">
      <ul>
        <li id="categories">
          <h2>Categories</h2>
          <ul>
            <li><%= link_to 'Partner Venues', partner_index_path %></a> (1) </li>
            <li><a href="#">Travel</a>(4) </li>
            <li><a href="#">Fashion </a> (1) </li>
            <li><a href="#">Food</a> (4) </li>
            <li><a href="#">Health / Beauty</a> (1) </li>
            <li><a href="#">Digital</a> (4) </li>
            <li><a href="#">Home</a> (4) </li>
            <li><a href="#">Services</a> (4) </li>
            <li><a href="#">Luxury</a> (4) </li>
          </ul>
        </li>
        <li>
          <h2>Newest Members</h2>
          <ul>
            <li><a href="#">Nulla luctus eleifend purus</a></li>
            <li><a href="#">Praesent scelerisque scelerisque erat</a></li>
            <li><a href="#">Ut nonummy rutrum sem</a></li>
            <li><a href="#">Pellentesque tempus quam quis nulla</a></li>
            <li><a href="#">Fusce ultrices fringilla metus</a></li>
            <li><a href="#">Praesent mattis condimentum nisl</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- end sidebar -->
    <br style="clear: both;" />
  </div>
</div>
<!-- end page -->
<!-- start footer -->
<div id="footer">
<p id="legal"> &nbsp;&nbsp;&bull;&nbsp;&nbsp;&copy;2014 Sam Sam. All Rights Reserved.
  &nbsp;&nbsp;&bull;&nbsp;&nbsp;
  <% if current_admin %>
      <li><%= link_to "Admin Log Out", destroy_admin_session_path, method: :delete %></li>  
      <% else %>
      <% end %> 
   </p>
<!-- end footer -->
</div>
</body>
</html>
